ion-button {
  --background: #ff0059;
  --color: #ffffff;
  --ripple-color: #ffffff;
}

.align {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.lables {
  height: 20px !important;
  margin-bottom: 20px;
}
