h3{
    text-align: center;
}
.nav_button{
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 20px;
  ion-button{
    --background: #ff0059;
    margin: 0% auto;
    width: 175px;  
  }
}
ion-card{
    height: 75%;
    margin: 30px 15px;
    ng-template{
        padding: 10px;
    }
}
.card{
    margin: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 25px;
}
ion-card{
  box-shadow: none;
}
.res_btn{
  display: flex; 
  --background: #ff0059;
  position: absolute; 
  left: 0;
  right: 0; 
  bottom: 10px; 
}