ion-list {
    background: #ffffff;
    margin: 2% 3%;
    padding: 5px; 
    transform: translateY(50%);

    img {
        width: 250px;
        display: flex;
        margin: 0% auto;
    }

    .success {
        border: 2px solid rgba(79, 228, 79, 0.836);
        border-radius: 10px;

        h3 , .color_green{
            color: rgba(79, 228, 79, 0.836);
        }
    }

    .danger {
        border: 2px solid rgba(255, 0, 0, 0.863);
        border-radius: 10px;

        h3 , .color_red{
            color: rgba(255, 0, 0, 0.863);
        }
    }

    h3 , h1{
        text-align: center;
    }
}