<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Welcome To Proheart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div class="align" >
    <img src="./../../assets/home.png" alt="">

    <div class="container">
      <h1><b>Safety of your heart is our main priority</b></h1>
      <p>Take a quick diagostic test to know your heart health within seconds</p>  
    </div>
  
    <div class="container">
      <p>Click on start to proceed</p>
      <ion-button (click)="onClick()" expand="block" shape="round">
        Start
      </ion-button>
    </div>
  </div>

</ion-content>
